

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body {
    /* margin: 0; */
    /* overflow: hidden; */
    background-color: #000;
    color: white;
    /* height: 100%; */
  }

.canvas{
    position: fixed;
    z-index: -1;
}

  /* Header */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.105);
}

.myself{
    color: white;
    font-size: 2.5vw;
    
}

.self{
    color: rgb(249, 0, 77);
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 3vh 3vh;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    transition: color 0.2s, letter-spacing 0.2s, border-box 0.2s ;
}

nav ul li a:hover{
    color: rgb(22, 209, 143);
    box-shadow: 0px 10px 10px rgba(248, 246, 246, 0.314);
}

/* title */
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    /* background-color: rgba(0, 0, 0, 0.105); */
    font-size: 5vw;
}


/* section1 */

.nav-name{
   
    padding-bottom: 8vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#canv{
    position: fixed;
    z-index: -1;
}

.name-webd{
    padding-left: 5vw;
}

.section1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:  space-between;
  
    padding-bottom: 13vh;
}

.name{
     font-size: 3vw;
}

.name span{
    color: rgb(249, 0, 77);
}

.webd{
    font-size: 2vw;
    padding-top: 2%;
}

.webd span{
    color: rgb(249, 0, 77);
}

/* keyboard */

.keyboard-title{
    overflow: hidden;
}

#dark {
    display: none;
  }
  #dark:not(:checked) ~ .dark {
    display: none;
  }
  #dark:not(:checked) ~ .wrapper {
    --l: 15%;
  }
  #dark:checked ~ .light {
    display: none;
  }
  #dark:checked ~ .wrapper {
    --l: 75%;
  }
  
  label {
    user-select: none;
    cursor: pointer;
    font-size: 10vw;
    position: fixed;
    /* top: 1000vh;
    right: 4px; */
  }
  
  .wrapper {
    /* background-color: hsl(240deg, 20%, calc(var(--l) - 10%)); */
    position: relative;
    /* inset: 0; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    z-index: 10;
  }
  
  .keyboard {
    --size: min(40vw, 60vw);
    --btn-height: calc(var(--size) * .025);
    display: flex;
    gap: 2em;
    font-size: calc(var(--size) * .021);
    background-color: hsl(240deg, 20%, calc(var(--l)));
    padding: 1em;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(800px) rotateX(40deg) rotateZ(40deg);
    animation: color-shift 30s infinite linear;
    transition: 100ms ease-out;
    
  }
  .keyboard:before, .keyboard:after {
    content: "";
    position: absolute;
    transition: 100ms ease-out;
  }
  .keyboard:before {
    width: 100%;
    height: calc(var(--btn-height) * 1.5);
    top: 100%;
    left: 0;
    background-color: hsl(240deg, 20%, calc(var(--l) - 5%));
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  .keyboard:after {
    width: calc(var(--btn-height) * 1.5);
    height: 100%;
    top: 0;
    left: 100%;
    background-color: hsl(240deg, 20%, calc(var(--l) + 5%));
    transform-origin: center left;
    transform: rotateY(90deg);
  }
  .keyboard * {
    transform-style: preserve-3d;
  }
  .keyboard .small p {
    font-size: 0.75em;
  }
  .keyboard p {
    margin: 0;
    color: var(--color);
    font-weight: bold;
    height: calc(var(--size) * .05);
    min-width: calc(var(--size) * .045);
    text-align: center;
    padding: 0.25em;
    background-color: hsl(240deg, 20%, calc(var(--l) + 5%));
    position: relative;
    transform: translateZ(var(--btn-height));
    transition: 100ms ease-out;
    flex-grow: 1;
    text-shadow: 0 0 0.125em var(--color);
  }
  .keyboard p:hover {
    transform: translateZ(calc(var(--btn-height) * .5));
    text-shadow: 0 0 0.25em var(--color);
  }
  .keyboard p:before, .keyboard p:after {
    content: "";
    position: absolute;
    transition: 200ms ease-out;
  }
  .keyboard p:before {
    height: var(--btn-height);
    width: 100%;
    top: 100%;
    left: 0;
    background-color: hsl(240deg, 20%, calc(var(--l)));
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  .keyboard p:after {
    height: 100%;
    width: var(--btn-height);
    top: 0;
    left: 100%;
    background-color: hsl(240deg, 20%, calc(var(--l) + 10%));
    transform-origin: center left;
    transform: rotateY(90deg);
  }
  .keyboard .left {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  .keyboard .left .top {
    display: flex;
    gap: 3em;
  }
  .keyboard .left .top .fn-keys {
    display: flex;
    gap: 1em;
  }
  .keyboard .left .top .group {
    display: flex;
    gap: 0.25em;
  }
  .keyboard .left .main {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
  }
  .keyboard .left .main .row {
    display: flex;
    gap: 0.25em;
  }
  .keyboard .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .keyboard .right .group {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
  }
  .keyboard .right .row {
    display: flex;
    gap: 0.25em;
  }
  .keyboard .right .top {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  .keyboard .right .arrows {
    display: flex;
    gap: 0.75em 0.25em;
  }
  .keyboard .right .arrows .group {
    gap: 0;
  }
  .keyboard .glow {
    background-color: var(--color);
    padding: 0.25em;
  }
  
  @keyframes color-shift {
    0% {
      --color: hsl(0deg, 100%, 50%);
      transform: perspective(1800px) rotateX(30deg) rotateZ(60deg);
    }
    12.5% {
      --color: hsl(45deg, 100%, 50%);
    }
    25% {
      --color: hsl(90deg, 100%, 50%);
    }
    37.5% {
      --color: hsl(135deg, 100%, 50%);
    }
    50% {
      --color: hsl(180deg, 100%, 50%);
      transform: perspective(1800px) rotateX(60deg) rotateZ(80deg);
    }
    62.5% {
      --color: hsl(225deg, 100%, 50%);
    }
    75% {
      --color: hsl(270deg, 100%, 50%);
    }
    87.5% {
      --color: hsl(315deg, 100%, 50%);
    }
    100% {
      --color: hsl(360deg, 100%, 50%);
      transform: perspective(1800px) rotateX(30deg) rotateZ(60deg);
    }
  }
  @property --color {
    syntax: "<color>";
    initial-value: yellow;
    inherits: true;
  }

/* section2 */

.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    /* margin-top: 8%; */

}

.abt-title{
    font-size: 3vw;
    padding-bottom: 5%;
}
.abt-container{
font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.105);
}


.claas{
visibility: hidden;
}

/* section3 */

